CMakeLists.txt linguist-documentation
*.cmake linguist-documentation
script.sh linguist-documentation
scripts/** linguist-documentation

tastatura.txt linguist-documentation
*.txt linguist-documentation

LICENSE linguist-documentation
README.md linguist-documentation